<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>    
    <title>Dynamic Controller Meta Title</title>
    <meta name="Description" content="Dynamic controller meta description" >

    <script type="text/javascript">     
 
    </script>
  </head>
  <body>
    <h1>Testing Omniauth</h1>
    <div>
        <p><%== @code %></p>
    </div>
    <div id="backendWindow">
        <h1> Testing Dynamic Meta Tags</h1>
        <%= button_to "Log in with Google", "/auth/google_oauth2" %><br>
        <%= link_to "Log in with Google", "/auth/google_oauth2" %><br>
        <%= form_tag "/auth/google_oauth2", method: :post, :id => "myForm" do %>
            <%= submit_tag("Use Google") %>
        <% end %>
        <button type="button" onclick="send();" id="hello" class='btn gray_btn'><%= t('action.send') %></button>
    </div>
  </body>
</html>

